# Dados sensíveis (Planilhas de Produção)
*.xlsx
*.xls
*.csv
*.xlsm

# Logs e Temporários
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.tmp/
temp/

# Sistema Operacional
Thumbs.db
.DS_Store
desktop.ini
$RECYCLE.BIN/

# Editores e IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Arquivos de rascunho
stylerules.md
